<!DOCTYPE html>
<html>
<head>
    <title>College Dashboard</title>
</head>
<body>

<h1>College Dashboard</h1>

<p>Welcome College Administrator</p>

<a href="/view_students">
    <button>View Students</button>
</a>

<br><br>

<a href="/view_faculty">
    <button>View Faculty</button>
</a>

<br><br>

<a href="/view_admins">
    <button>View Admins</button>
</a>

<br><br>

<a href="/admin_view_timetable">
    <button>View Timetable</button>
</a>

<br><br>

<a href="/college_logout">
    <button>Logout</button>
</a>

</body>
</html>