<!DOCTYPE html>
<html>
<head>
    <title>Faculty Register</title>
</head>

<body>

<h1>Faculty Registration</h1>

<form method="POST">

    <input type="text" name="name" placeholder="Faculty Name" required><br><br>

    <input type="email" name="email" placeholder="Email" required><br><br>

    <input type="text" name="phone" placeholder="Phone Number"><br><br>

    <input type="text" name="department" placeholder="Department"><br><br>

    <input type="text" name="subject_handled" placeholder="Subject Handled"><br><br>

    <input type="text" name="availability" placeholder="Availability"><br><br>

    <button type="submit">Register</button>

</form>

</body>
</html>