<!DOCTYPE html>
<html>
<head>
    <title>Faculty Dashboard</title>
</head>
<body>

    <h1>Faculty Dashboard</h1>

    <h3>Faculty Services</h3>

    <p>
        <a href="/faculty_view_timetable">View Timetable</a>
    </p>

    <p>
        <a href="/absence_request">Submit Absence Request</a>
    </p>

    <p>
        <a href="/faculty_experience_form">Faculty Experience Form</a>
    </p>

    <p>
        <a href="/faculty_profile">View Profile</a>
    </p>

    <p>
        <a href="/faculty_logout">Logout</a>
    </p>

</body>
</html>