<!DOCTYPE html>
<html>

<head>
    <title>Smart Timetable</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style-index.css') }}">
</head>

<body>

    <!-- Navbar -->
    <div class="navbar">
        <h2>AI-Sched</h2>

        <button id="themeToggle">
            🌙 Dark Mode
        </button>
    </div>

    <div class="container">

        <h1>AI-Based Smart Timetable Scheduling</h1>

        <p>
            Using Student & Faculty Preferences with Genetic Algorithms
        </p>

        <div class="button-row">
            <a href="/college_register"><button>College Register</button></a>
            <a href="/college_login"><button>College Login</button></a>
        </div>

        <br>

        <div class="button-row">
            <a href="/student_register"><button>Student Register</button></a>
            <a href="/student_login"><button>Student Login</button></a>
        </div>

        <br>

        <div class="button-row">
            <a href="/faculty_register"><button>Faculty Register</button></a>
            <a href="/faculty_login"><button>Faculty Login</button></a>
        </div>

        <br>

        <div class="button-row">
            <a href="/admin_register"><button>Admin Register</button></a>
            <a href="/admin_login"><button>Admin Login</button></a>
        </div>

    </div>

    <script>
        const toggleBtn = document.getElementById("themeToggle");

        toggleBtn.addEventListener("click", () => {

            document.body.classList.toggle("light-mode");

            if (document.body.classList.contains("light-mode")) {
                toggleBtn.innerHTML = "☀️ Light Mode";
                localStorage.setItem("theme", "light");
            } else {
                toggleBtn.innerHTML = "🌙 Dark Mode";
                localStorage.setItem("theme", "dark");
            }
        });

        window.onload = () => {
            const savedTheme = localStorage.getItem("theme");

            if (savedTheme === "light") {
                document.body.classList.add("light-mode");
                toggleBtn.innerHTML = "☀️ Light Mode";
            }
        };
    </script>

</body>

</html>