<!DOCTYPE html>
<html>

<head>
    <title>Smart Timetable</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>Smart Timetable Scheduling</h1>

    <p>Based on Student Stress Levels</p>

    <a href="/student_register"><button>Student Register</button></a>

    <a href="/student_login"><button>Student Login</button></a>

    <a href="/faculty_register"><button>Faculty Register</button></a>

    <a href="/faculty_login"><button>Faculty Login</button></a>

    <a href="/admin_register"><button>Admin Register</button></a>

    <a href="/admin_login"><button>Admin Login</button></a>

</div>

</body>

</html>