<!DOCTYPE html>
<html>
<head>
    <title>Student Feedback</title>
</head>
<body>

<h1>Student Feedback Form</h1>

<form method="POST">

    Student ID:
    <input type="number"
           name="student_id"
           required><br><br>

    Roll Number:
    <input type="text"
           name="roll_no"
           required><br><br>

    Feedback:
    <br>
    <textarea
        name="message"
        rows="5"
        cols="40"
        required>
    </textarea>

    <br><br>

    <button type="submit">
        Submit Feedback
    </button>

</form>

</body>
</html>