<!DOCTYPE html>
<html>
<head>
    <title>Student Profile</title>
</head>
<body>

<h1>Student Profile</h1>

<p><b>Name:</b> {{ student.full_name }}</p>

<p><b>Email:</b> {{ student.email }}</p>

<p><b>College:</b> {{ student.college_name }}</p>

<p><b>Branch:</b> {{ student.branch }}</p>

<p><b>Year:</b> {{ student.year_level }}</p>

<p><b>Semester:</b> {{ student.semester }}</p>

<p><b>Section:</b> {{ student.section_name }}</p>

<p><b>Roll No:</b> {{ student.roll_no }}</p>

<p><b>Phone:</b> {{ student.phone }}</p>

<a href="/student_dashboard">Back</a>

</body>
</html>